{** block-description:dropdown_vertical **}

<div class="ty-menu ty-menu-vertical clearfix">
    <ul id="vmenu_{$block.block_id}" class="ty-menu__items cm-responsive-menu dropdown dropdown-vertical{if $block.properties.right_to_left_orientation =="Y"} rtl{/if}">
        {include file="blocks/sidebox_dropdown.tpl" items=$items separated=true submenu=false name="item" item_id="param_id" childs="subitems"}
    </ul>
</div>