#LESS#
.sort-by-bestsellers-asc {
    display: none;
}

@import "styles.less";
@import "tygh/responsive.less";
@import "vs-icons.less";
@import "vs.less";
@import "vs-responsive.less";
@import "addons/social_buttons/styles.less";
@import "addons/social_buttons/responsive.less";
@import "addons/tags/styles.less";
@import "addons/rss_feed/styles.less";
@import "addons/newsletters/styles.less";
@import "addons/store_locator/styles.less";
@import "addons/store_locator/responsive.less";
@import "addons/reward_points/styles.less";
@import "addons/form_builder/styles.less";
@import "addons/form_builder/responsive.less";
@import "addons/blog/styles.less";
@import "addons/blog/responsive.less";
@import "addons/banners/styles.less";
@import "addons/discussion/styles.less";
@import "addons/discussion/responsive.less";
@import "addons/wishlist/styles.less";
@import "addons/wishlist/responsive.less";
@import "addons/image_zoom/styles.less";
@import "addons/hybrid_auth/styles.less";
@import "addons/energothemes_search/styles.less";
	.energo-searchbox{
		width: 203px;
	}
	.energo-searchbox+.ty-search-block__input{
		padding-left: 209px;
	}
