{assign var="columns" value=5}
{if !$wishlist_is_empty}

    {script src="js/tygh/exceptions.js"}

    {assign var="show_hr" value=false}
    {assign var="location" value="cart"}
{/if}
{if $products}
    {include file="blocks/list_templates/grid_list.tpl" 
        columns=$columns
        show_empty=true
        show_trunc_name=true 
        show_old_price=true 
        show_price=true 
        show_clean_price=true 
        show_list_discount=true
        no_pagination=true
        no_sorting=true
        show_add_to_cart=true
        is_wishlist=true
        hide_wishlist_button=true
        show_rating=true
        but_role="action"
        show_discount_label=true
        hide_qty=true
        show_price_values=true
        show_vs_icon_buttons=true
        vs_separate_buttons=true
        show_list_buttons=true
    }

{else}
{math equation="100 / x" x=$columns|default:"2" assign="cell_width"}
    <div class="ty-grid-list{if $wishlist_is_empty} ty-wish-list-empty{/if} clearfix">
    {assign var="iteration" value=0}
    {capture name="iteration"}{$iteration}{/capture}
    {hook name="wishlist:view"}
    {/hook}
    {assign var="iteration" value=$smarty.capture.iteration}
    {if $iteration == 0 || $iteration % $columns != 0}
        {math assign="empty_count" equation="c - it%c" it=$iteration c=$columns}
        {section loop=$empty_count name="empty_rows"}
                <div class="ty-column{$columns}">
                    <div class="ty-product-empty">
                        <span class="ty-product-empty__text">{__("empty")}</span>
                    </div>
                </div>
        {/section}
    {/if}
    </div>
{/if}

{if !$wishlist_is_empty}
    <div class="buttons-container ty-wish-list__buttons">
        {include file="buttons/button.tpl" but_text=__("clear_wishlist") but_href="wishlist.clear" but_meta="ty-btn__tertiary"}
        {include file="buttons/continue_shopping.tpl" but_href=$continue_url|fn_url but_role="text"}
    </div>
{else}
    <div class="buttons-container ty-wish-list__buttons ty-wish-list__continue">
        {include file="buttons/continue_shopping.tpl" but_href=$continue_url|fn_url but_role="submit"}
    </div>
{/if}

{capture name="mainbox_title"}{__("wishlist_content")}{/capture}
