<button title="{$alt}" class="ty-btn-go" type="submit"><i class="{if $vs_icon_class}{$vs_icon_class}{else}ty-btn-go__icon ty-icon-right-dir{/if}"></i>{if $but_text}{$but_text}{/if}</button>
<input type="hidden" name="dispatch" value="{$but_name}" />