#addon_energothemes_searchinstalled,
#addon_dropdown_imageinstalled,
#addon_energothemes_licenseinstalled,
#addon_energothemes_ie9fixinstalled{
	&.cm-row-status-a .bg-icon{
		background: url("images/energothemes.png") center center #fff;
		.exicon-box-blue{
			display: none;
		}
	}
}